* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Set 1 REM = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Lato';
  padding: 7rem;
}

.hero-img {
  background-image: url(./img/andrew-header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.header-text-box {
  background-color: #583216;
  padding: 2rem;
}

.heading-primary {
  color: #fff;
  font-size: 5rem;
  font-weight: 800;
}

.heading-primary-main {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.heading-primary-icons {
  display: block;
  float: right;

}

.icon-link {
  color: #fff;
  text-decoration: none;
}

.icon-link:hover {
  color: #e6a81b;
}

.icon {
  margin-right: 3px;
}

.icon:active {
  transform: translateY(3px);
}