* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Set 1 REM = 10px */
  font-size: 62.5%;
}

body {
  background-color: rgba(223, 199, 184, 0.524);
  font-family: 'Lato';
  padding: 7rem;
}

.hero-img {
  background-image: url(./img/andrew-header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.header-text-box {
  background-color: #583216;
}

.heading-primary {
  color: #fff;
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
}

.heading-primary-main {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.section-title {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}

.paragraph-text {
  font-size: 1.75rem;
}

.text-link {
  color: #583216;
  font-weight: 600;
  text-decoration: none;
}

.text-link:hover {
  color: #e6a81b;
}

.album-card {
  background-color: #e6a81b;
  color: #fff;
  text-align: center;
}

.artist-name {
  font-weight: 600;
}

.album-name {
  font-size: 1.5rem;
}

.artist-links {
  list-style: none;
  text-align: center;
}

.social-link {
  display: inline-block;
  font-size: 2rem;
  margin-right: 3rem;
}

.social-link:active {
  transform: translateY(3px);
}